*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.mydiv{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo{
    width: 100%;
    min-width: 540px;
    background: white;
    margin: 40px auto 20px;      /* margin of box from top,left-right,bottom*/
    padding: 40px 30px 70px;    /* area distance of text writtrn  from top,l-r,bottom*/
    border-radius: 10px;

}
.todo h2{
    margin-left: 500px;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width: 50px;
    height: 50px;
}
.row{
    display: flex;
    align-items: center;
    background: #edeef0;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 20px;
    border-radius: 30px;
}
input{
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}
button{
    border: none;
    background-color: chocolate;
    color: aliceblue;
    padding: 16px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 260px;
    position: relative;
       
}
ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    position: absolute;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    left: 8px;
    top: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 350px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 50px;
    text-align: center;
}
ul li span:hover{
    background-color: #edeef0;
    border-radius: 50%;
}